.exam-apply-protocol-wrapper{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 8px;
}

.exam-apply-protocol-content{
	line-height: 2.3em;
}


.exam-apply-head-photo-wrapper{
	width: 120px; 
	height: 150px;
}

.exam-apply-head-photo-wrapper label{
	width: 100%;
	height: 100%;
}
