.exam-statistics-content-div{
	margin-top: 20px;
}

.exam-statistics-tab-content{
	margin-top: 20px;
}

.exam-statistics-chart-div{
	margin-top: 20px;
}

.exam-statistics-table-div{
	margin-left: 20px;
	margin-right: 20px;
}