<div id="exam-tick-wrapper" class="exam-tick-wrapper">
	<div class = "row">
		<h3 class="col-xs-12 text-primary text-center" th:text="${examApplyInfo.examInfo.examName} + ' 准考证'">个人资料</h3>
	</div>

	<table class="table table-responsive table-bordered">
    	<tbody>
    		<tr>
    			<td class="col-xs-2 text-center" >级别</td>
    			<td class="col-xs-8 text-center" owl:enumVal="${examApplyInfo.examInfo.examLevel}" owl:enumKey="'exam_level'"></td>
    			<td class="col-xs-2" rowspan='5'>
                    <div class="img-thumbnail">
                        <img th:src="${examApplyInfo.photeUrl}" alt="个人照片"  width="110px;" height="140px;" />
                    </div>
    			</td>
    		</tr>
    		
    		<tr>
    			<td class=" text-center">准考证号</td>
    			<td class=" text-center" th:text="${examApplyInfo.examIdCode}"></td>
    		</tr>    
    		
    		<tr>
    			<td class=" text-center">到场时间</td>
    			<td class=" text-center"  th:text="${#dates.format(examApplyInfo.examInfo.examTime, 'yyyy-MM-dd hh:mm:ss')}"></td>
    		</tr>     				
    		
    		<tr>
    			<td class=" text-center">考点地区</td>
    			<td class=" text-center"  owl:enumVal="${examApplyInfo.examPlace.region}" owl:enumKey="'exam_place_region'"></td>
    		</tr>   
    		<tr>
    			<td class=" text-center">考点名称</td>
    			<td class=" text-center"  th:text="${examApplyInfo.examPlace.name}"></td>
    		</tr> 
    		<tr>
    			<td class=" text-center">考点地址</td>
    			<td colspan="2" th:text="${examApplyInfo.examPlace.address}"></td>
    		</tr>  
    		<tr>
    			<td class=" text-center">交通</td>
    			<td colspan="2" th:text="${examApplyInfo.examPlace.traffic}"></td>
    		</tr>    
    	</tbody>
	</table>    		  		   		
    		
 	<table class="table table-responsive table-bordered">
    	<tbody>
    		<tr>
    			<td class=" text-center col-xs-1  exam-ticket-name-center" rowspan="2">姓名</td>
    			<td class=" text-center col-xs-1">中文</td>
    			<td class=" text-center col-xs-6" th:text="${examApplyInfo.name}"></td>
				<td class=" text-center col-xs-2">性别</td>
    			<td class=" text-center col-xs-2" owl:enumVal="${examApplyInfo.sex}" owl:enumKey="'sex'"></td>    			
    		</tr>   
    		<tr>
    			<td class=" text-center">拼音</td>
    			<td class=" text-center" th:text="${examApplyInfo.nameSpell}"></td>
    			<td class=" text-center">国籍</td>
    			<td class=" text-center" owl:enumVal="${examApplyInfo.country}" owl:enumKey="'country_code'"></td>    			
    		</tr> 
    
    		<tr>
    			<td class=" text-center" colspan="2">证件类型</td>
    			<td class=" text-center" owl:enumVal="${examApplyInfo.identityType}" owl:enumKey="'identity_type'"></td>
				<td class=" text-center exam-ticket-birthday-center" rowspan="2">出生日期</td>
    			<td class=" text-center exam-ticket-birthday-center" rowspan="2" th:text="${examApplyInfo.birthday}"></td>
    		</tr>   
    		<tr>
    			<td class=" text-center" colspan="2">证件号码</td>
    			<td class=" text-center" th:text="${examApplyInfo.identityNum}"></td>
    		</tr>      		  		
    	</tbody>
	</table>
	
	<div class = "row">
		<div class="exam-ticket-tips-wrapper col-xs-11">
			<p>重要提示：</p>
			<ul class="exam-ticket-tips-ul">
				<li>本提示只限于对《考生须知》中的重点进行提示。考生在本网站报名时，已经点击“同意”本网站公布的包括《考生须知》在内的所有政策和规定。在此特题型考生必须阅读网站《考生须知》。</li>
				<li>考生在考试日必须携带物品：本人准考证、有效身份证件（证件类型与证件号码必须与本准考证打印信息一致）、2B或HB铅笔和橡皮。</li>
				<li>禁止考生携带手机等任何电子器件，如发现按违规处理。</li>
			</ul>
		</div>
	</div>


	<script type="text/javascript" th:inline="javascript">
		//加载css
		var css_url = [[@{/static/workspace/css/exam-tick.css}]];
		comm_ui_loadCSS(css_url);
	</script>
</div>