<div class = "password-chg-wrapper">
	<div class = "row" th:if="'adminChgInfo' != ${from}">
		<h3 class="col-xs-12 text-primary text-center">修改密码</h3>
	</div>
	
	<input type="hidden" id="password-chg-from-flag" th:value="${from}">
		
	<div class="row password-chg-content-wrapper">
		<form id="password-chg-from" class="form-horizontal" method="post" th:data-admin-userpasswordchg-url="@{/admin/Workspace/changePassword.do}" th:action="@{/Workspace/updateCurUserPassword.do}">
			
			<input th:if="'adminChgInfo' == ${from}" type="hidden" name="userId" th:value="${userId}">
			
			<div class="form-group" th:if="'adminChgInfo' != ${from}">
				<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1  required" for="oldPassword">旧密码</label>
				<div class="col-xs-8 col-sm-6">
					<input class="form-control" type="password" required id="oldPassword" name="oldPassword"  placeholder="" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1  required" for="newPassword">新密码</label>
				<div class="col-xs-8 col-sm-6">
					<input class="form-control" type="password" required id="newPassword" name="newPassword"  placeholder="" />
				</div>
			</div>

			
			<div class="form-group">
				<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1  required" for="newPasswordConfirm">密码确认</label>
				<div class="col-xs-8 col-sm-6">
					<input class="form-control" type="password" required id="newPasswordConfirm" name="newPasswordConfirm"  placeholder="" />
				</div>
			</div>
			

			<div class="form-group text-center password-chg-form-submitBtn-wrapper">
				<button id="password-chg-form-submitBtn"  type="submit" class="btn btn-primary" data-loading-text="处理中..">修改</button>
				<button th:if="'adminChgInfo' == ${from}" id="password-chg-form-returnBtn" class="btn btn-primary">返回</button>
			</div>
		</form>
	</div>
	
	
	<script type="text/javascript" th:inline="javascript">
		//加载css
		var css_url = [[@{/static/workspace/css/password_chg.css}]];
		comm_ui_loadCSS(css_url);
	</script>
	
	<script th:src="@{/static/workspace/js/password_chg.js}"></script>
		
</div>